name: "Deploy"
run-name: "Deploy"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: "build"
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '25'
          cache: maven
      - name: Build
        run: mvn clean package --batch-mode --settings ./.mvn/settings.xml
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker-build-push
        uses: nais/docker-build-push@v0
        with:
          team: team-researchops
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          build_args: |
            JAR_PATH=target/app.jar
      - name: Show image for later prod deploy
        run: |
          echo "Built image: ${{ steps.docker-build-push.outputs.image }}"

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-dev.yaml
          VAR: image=${{ needs.build.outputs.image }},version=${{ github.sha }}