name: "Pull request"
run-name: "Pull request"

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "pull request build"
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '25'
          cache: maven
      - name: Build
        run: mvn clean package --batch-mode --settings ./.mvn/settings.xml